@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #030213;
  --primary: #030213;
  --primary-foreground: #ffffff;
  --secondary: #f3f3f5;
  --muted: #ececf0;
  --border: rgba(0, 0, 0, 0.1);
}

.dark {
  --background: #030213;
  --foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #030213;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}